*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
nav ul{
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	margin: 10px;
	font-size: 12px;
}
nav li{
	padding: 10px;
}
nav ul li:hover a{
	text-decoration: underline;
}
nav ul li:hover{
	cursor: pointer;
}
nav a{
	text-decoration: none;
	color: #000;
}
nav li .icon-menu{
	border: 1px solid #000;
	border-radius: 50%;
	padding: 5px 5px;
	width: 100%;
}
/*nav li #icon-menu-square{
	width: 100px;
	height: 100px;
	border-radius: 0;
}*/

header{
	display: flex;
	justify-content: center;
	margin-top: 11%;
}
header img{
	width: 25%;
}
main{
	text-align: center;
	margin: 2%;
}
#search-bar{
	width: 50%;
	margin: auto;
	display: flex;
	position: relative;
	z-index: 5;
}
.icon{
	position: absolute;
	z-index: 100;
	top: 32%;
	left: 2%;
	color: #666666a6;
}
#search-bar > input{
	padding: 2% 6%;
	width: 100%;
	box-shadow: 1px 1px 5px #ccc;
	border-top: 0;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: #ccc;
	border-radius: 15px;
	font-size: 16px;

}
#btn{
	background: url(../image/googlemic_clr_24px.png) no-repeat center;
	position: absolute;
	background-size: 21px 21px;
	padding: 20px;
	z-index: 100;
	top: 2px;
	right: 5px;
	border: 0;
	cursor: pointer;
}
input[type="text"]:focus{
	outline: 0;
}
.icon-container{
	margin: 20px auto;
	display: flex;
	justify-content: center;
	width: 50%;

}
.icon-list{
	border: 1px solid #fff;
	padding: 20px;
	width: 100%;
	font-size: 12px;
}
.icon-list:hover{
	background-color: #ccc6;
}
.icon-item{
	width: 60%;
	margin: auto;
}
.icon-shape{
	/*border: 1px solid #ccc;*/
	border-radius: 100%;
	width: 100%;
	padding: 10%;
	margin-bottom: 50%;
	font-size: 12px;
	background-color: #dddddda1;
	/*background-color: #666;*/
}
.icon-shape a{
	text-decoration: none;
	color: #000;
}
.icon-list:hover .icon-shape{
	background-color: #fff;
}
.icon-shape:hover{
	cursor: pointer;
}
.special-icon{
	padding: 31%;
}
.customized{
	position: fixed;
	right: 10px;
	bottom: 20px;
	border-top: 0;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 1px;
	border-color: #ccc;
	border-style: solid;
	box-shadow: 1px 2px 5px #ccc;
	border-radius: 15px;
	padding: 7px 1%;
	z-index:100;
	text-decoration: none;
	color: #1A73E8;
	font-size: 12px;
}